@import "mixins.scss";

.about {
  background: #f7f7f7;
  padding: 20rem 0;
  margin-top: -15vh;
  position: relative;
}

.section__header {
  text-align: center;
  margin-bottom: 8rem;

  h2 {
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  h2:hover {
    -webkit-transform: skew(1deg, 1deg);
    -ms-transform: skew(1deg, 1deg);
    transform: skew(1deg, 1deg);
  }
  h2 span {
    background-image: -o-linear-gradient(left, #7e3ab3, #b452ff);
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#7e3ab3),
      to(#b452ff)
    );
    background-image: linear-gradient(to right, #7e3ab3, #b452ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4rem;
  }
}
.section__header__top__text {
  display: block;
  margin-bottom: 1rem;
}

.skill__image__container {
  img {
    width: 20rem;
  }
}

.ethic__text,
.ethic__text__header {
  color: inherit;
}

.ethic__text__header {
  font-weight: 700;
  font-size: 2.5rem;
}

.ethic__text {
  font-size: 2rem;
  font-family: Open Sans;
}
