@import "mixins";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%;

  @include respond(desktop) {
    font-size: 56.25%;
  }

  @include respond(tab-land) {
    font-size: 50%;
  }

  @include respond(tab-port) {
    font-size: 43.75%;
  }

  @include respond(phone) {
    font-size: 37.5%;
  }
}

body {
  background-color: white;
  font-family: Roboto, Open Sans, Tahoma, Sans-Serif;
  padding: 1.5rem 1.5rem 0 1.5rem;
  color: #777;
  overflow-x: hidden;

  @include respond(tab-land) {
    padding: 0;
  }
}
.small-margin {
  margin-top: 30px;
}
a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}
