* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 10px;
}

body {
  background-color: white;
  font-family: "Spectral";
  padding: 4rem 4rem 0 4rem;
  color: #777;
}
.small-margin{
  margin-top: 30px;
}
a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

.loader{
   -webkit-animation: _fadein 1s;
           animation: _fadein 1s;
}

.loader:empty {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(126, 58, 179, 0.8);
  border-left: 1.1em solid white;
  border-radius: 50%;
  -webkit-animation: load8 1.1s infinite linear;
          animation: load8 1.1s infinite linear;
          -webkit-transform: translate(-50% , -50%);
              -ms-transform: translate(-50% , -50%);
                  transform: translate(-50% , -50%);
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes _fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@keyframes _fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
