@import "mixins";

.header {
  height: 95vh;
  background-image: -o-linear-gradient(
      rgba(126, 58, 179, 0.8),
      rgba(126, 58, 179, 0.8)
    ),
    url("../images/bg.jpg");
  background-image: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(126, 58, 179, 0.8)),
      to(rgba(126, 58, 179, 0.8))
    ),
    url("../images/bg.jpg");
  background-image: linear-gradient(
      rgba(126, 58, 179, 0.8),
      rgba(126, 58, 179, 0.8)
    ),
    url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
  z-index: 1000;
}

.logo h1 {
  font-size: 7rem;
  color: white;
  display: inline-block;
  position: absolute;
  left: 1%;
  top: 1%;
  margin: 0;
  font-family: "Comic Sans MS", "cursive", "sans-serif";
}

.header__content {
  color: white;
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.header__name {
  font-size: 9rem;
  font-weight: 700;
  @include respond(tab_land) {
    font-size: 7rem;
  }
  @include respond(phone) {
    font-size: 5rem;
  }
}

.header__career {
  font-size: 4rem;
  font-weight: 300;
  display: block;
}

a.header__btn {
  background: white;
  padding: 2rem 3.5rem;
  display: inline-block;
  margin-top: 3rem;
  border-radius: 3rem;
  font-size: 2rem;
  color: #777;
}
