@import "mixins";

.projects__section {
  background: #f7f7f7;
  padding: 20rem 0;
  margin-top: -8rem;
}

.project__card {
  background: white;
  height: 50rem;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;

  @media screen and (min-width: 4000px) {
    height: 70rem;
    width: 90%;
  }
  @media screen and (max-width: 991px) {
    width: 70%;
    margin: 1rem auto;
  }
  @include respond(phone) {
    width: 100%;
  }
}

.project__card__top {
  cursor: pointer;
  position: relative;
  height: 60%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  img {
    width: 100%;
    height: 100%;
    z-index: 999;
  }
}

.project__card__top:hover .project__card__top__overlay {
  opacity: 1;
}

.project__card__top:hover .project__card__top__btn {
  top: 50%;
}

.project__card__bottom {
  height: 40%;
  text-align: center;
  padding: 2rem;

  h3 {
    margin-top: 0 !important;
    font-weight: 700;
    color: black;
  }

  p {
    font-size: 1.6rem;
    color: black;
  }
  a {
    font-size: 2.4rem;
    font-weight: 700;
    color: inherit;
  }
}

.project__card__top__overlay {
  position: absolute;
  background: rgba(90, 58, 115, 0.8);
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  color: white;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.project__card__top__btn {
  padding: 2rem 3rem;
  background: rgba(0, 0, 0, 0);
  color: inherit;
  border: 1px solid white;
  border-radius: 2rem;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:hover {
    background: white;
    color: black;
  }
}
